C:/Users/skelt/OneDrive/Desktop/Skola/vyska/Informatika/4.semester/machineLearning/exercise2/.Rproj.user/shared/notebooks/DF91D03E-exercise2/1/s/c9uzx72qf6qug_t